<%= form_with model: [@category, @category.tasks.build] do |f| %>
  <div>
    <% if @category.tasks.build.errors.any? %>
      <ul>
        <% @category.tasks.build.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    <% end %>
  </div>

  <%= f.label :details %>
  <%= f.text_area :details %>
  <%= f.submit %>
<% end %>
