<%= form_with model: [@category, @category.tasks.build] do |f| %>
  <div class="form-floating d-inline-block w-50 align-middle">
    <%= f.text_area :details, class: "form-control", placeholder: "Details" %>
    <%= f.label :details %>
  </div>

  <div class="form-floating d-inline-block w-25 align-middle">
    <%= f.datetime_field :priority, id: 'datepicker', type: '', class: "form-control", placeholder: "Details" %>
    <%= f.label :priority, 'Priority Date' %>
  </div>

  <%= f.submit "Add Task", class: "btn btn-success ms-3" %>
<% end %>
