<% if cycle("odd", "even") == "odd" %>
  <li class="list-group-item list-group-item-dark">
  <% else %>
    <li class="list-group-item">
    <% end %>

    <% if task.priority == Date.current %>
      <%= render "tasks/done_form", task: task, category: @category %>
    <% else %>
      <%= task.priority.strftime('%a, %d %b %Y') %> - <%= task.details %>

      <div class="float-end">
        <%= link_to 'Edit', edit_category_task_path(@category, task), class: "btn btn-outline-secondary" %> |
        <%= link_to 'Delete', [task.category, task],
                          method: :delete,
                          data: { confirm: 'Are you sure?' },
                          class: "btn btn-outline-danger" %>
      </div>
    <% end %>
  </li>
