<%= form_with model: [@task.category, @task] do |f| %>
  <div>
    <% if @task.errors.any? %>
      <ul>
        <% @task.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    <% end %>
  </div>

  <%= f.label :details %>
  <%= f.text_area :details %>
  <%= f.submit %>
<% end %>
