<div class="card">
  <div class="card-body">
    <%= form_with model: [@task.category, @task] do |f| %>
      <% if @task.errors.any? %>
        <div>
          <ul>
            <% @task.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form-floating d-inline-block w-50 align-middle">
        <%= f.text_area :details, class: "form-control", placeholder: "Details" %>
        <%= f.label :details %>
      </div>

      <div class="form-floating d-inline-block w-25 align-middle">
        <%= f.datetime_field :priority, id: 'datepicker', type: '', class: "form-control", placeholder: "Priority Date" %>
        <%= f.label :priority, 'Priority Date' %>
      </div>

      <%= f.submit "Update Task", class: "btn btn-success ms-3" %>
    <% end %>
  </div>
</div>
