<%= form_with model: @category do |f| %>
  <% if @category.errors.any? %>
    <div>
      <ul>
        <% @category.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-floating mb-3">
    <%= f.text_field :title, class: "form-control", placeholder: "Title" %>
    <%= f.label :title %>
  </div>

  <div class="form-floating mb-3">
    <%= f.text_area :details, class: "form-control", placeholder: "Details" %>
    <%= f.label :details %>
  </div>

  <div>
    <%= f.submit :Submit, class: "btn btn-info" %>
  </div>
<% end %>
