<h1><%= @category.title %></h1>
<p><%= @category.details %></p>
<%= link_to 'Edit', edit_category_path(@category) %>
<%= link_to 'Delete', category_path(@category),
                      method: :delete,
                      data: { confirm: 'Are you sure?' } %>

<ul>
  <%= render @category.tasks %>
</ul>

<%= render 'tasks/form' %>
