<h1><%= @category.title %></h1>
<p><%= @category.details %></p>
<%= link_to 'Edit', edit_category_path(@category) %>

<%= link_to 'Delete', category_path(@category),
                      method: :delete,
                      data: { confirm: 'Are you sure?' } %>

<div id="overdue-wrap">
  <h2>Overdue Tasks</h2>

  <ul>
    <%= 'Nothing else here yet.' unless @category.tasks.find { |t| t.priority < Date.today } %>

    <% @category.tasks.each do |task| %>
      <% if task.priority < Date.today %>
        <%= render task %>
      <% end %>
    <% end %>
  </ul>
</div>

<div id="today-wrap">
  <h2>Tasks for Today</h2>

  <ul>
    <%= 'Nothing else here yet.' unless @category.tasks.find { |t| t.priority == Date.today } %>

    <% @category.tasks.each do |task| %>
      <% if task.priority == Date.today %>
        <%= render task %>
      <% end %>
    <% end %>
  </ul>
</div>

<div id="future-wrap">
  <h2>Future Tasks</h2>

  <ul>
    <%= 'Nothing else here yet.' unless @category.tasks.find { |t| t.priority > Date.today } %>

    <% @category.tasks.each do |task| %>
      <% if task.priority > Date.today %>
        <%= render task %>
      <% end %>
    <% end %>
  </ul>
</div>

<%= render 'tasks/form' %>
